<header class="header">
    <div class="header__wrapper flex_space_beetween">
        <div class="logo__wrap">

            <div 
                class="avatar" 
                style="background-image: url({{avatar.image.url}});">
            </div>

            <!-- <img 
                class ="avatar" 
                src="{{avatar.image.url}}" 
                alt="Sorry, no image"> -->
            
            <div class="forlogo">
                <a href="../avatar_upload/">
                    Upload
                </a>
            </div>
        </div>

        <div class="nav__wrap flex_space_beetween">
            <ul class="header__nav flex_space_beetween">
                <li class="header-nav__link">
                    <a href="#">About Me</a>
                </li>

                <li class="header-nav__link">
                    <a href="#">Skills</a>
                </li>

                <li class="header-nav__link">
                    <a href="#">Educations</a>
                </li>

                <li class="header-nav__link">
                    <a href="#">Projects</a>
                </li>
            </ul>

            <ul class="header__socials flex_space_beetween">
                <li class="social">
                    <a href="#">
                        <img class="social__icon" 
                            src="../static/images/icons/instagram.png" 
                            alt="Sorry, image not found">
                    </a>
                </li>

                <li class="social">
                    <a href="#">                    
                        <img class="social__icon" 
                        src="../static/images/icons/telegram.png" 
                        alt="Sorry, image not found">
                    </a>
                </li>

                <li class="social">
                    <a href="#">                    
                        <img class="social__icon" 
                        src="../static/images/icons/linkedin.png" 
                        alt="Sorry, image not found">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>